@using MovieSearch.Models
@model MovieSearch.Models.Movie

<div class="container">
    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Удаление фильма</h4>
                </div>
                <div class="modal-body">
                    <p>Удалить - <b>@Model.Name ?</b></p>
                </div>
                <div class="modal-footer">
                    @using (Ajax.BeginForm("DeleteConfirmed", "Home", new { id = Model.Id }, new AjaxOptions
                    {
                        UpdateTargetId = "deleteMovie",
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        OnComplete = "window.location.reload()"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        <input class="btn btn-danger" type="submit" data-toggle="modal" data-target="#deleteMovie" value="Удалить" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
